extends layouts/main
block body
  .container.main
    .header
      h1 konvektiv
      h2 Connecting Crypto and Big-Data
      p We are in stealth mode
      p
        a(href="mailto:contact@konvektiv.com") contact@konvektiv.com
    
