extends layouts/main
block body
  .container.main
    .header
      h1 konvektiv
      h2 Crypto meets Big-Data
      img.brand(src='circles.svg' width="200")
      p We are in stealth mode
      p
        a(href="mailto:contact@konvektiv.com") contact@konvektiv.com
    
